.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content .container {
    background: linear-gradient(to right, #ffffff, #4871a0);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 55%;
    height: 100%;
    margin: 2% auto;
    text-align: center;
    line-height: 45px;
}

.content h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.content span {
    display: block;
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
}

.content input[type="email"],
.content input[type="password"] {
    width: 70%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.content input[type="email"]:focus,
.content input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}


.content button {
    width: 70%;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #15283e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content button:hover {
    background-color: #4c75a1;
}

.content p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.content a {
    color: #007bff;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content .none {
    display: none;
}