body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao toàn màn hình */
    margin: 0;
}

.container {
    background: linear-gradient(to right, #ffffff, #4871a0);
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    padding: 40px; /* Padding lớn hơn */
    width: 350px; /* Chiều rộng container */
}

h1 {
    margin: 0 0 20px;
    font-size: 28px; /* Kích thước tiêu đề lớn hơn */
    text-align: center;
    color: #333; /* Màu chữ tối */
}

span {
    display: block;
    margin-bottom: 25px; /* Khoảng cách lớn hơn */
    color: #555; /* Màu chữ nhẹ */
    text-align: center;
    font-size: 14px; /* Kích thước chữ vừa phải */
}

input[type="email"],
input[type="password"] {
    width: 93%; /* Chiều rộng đầy đủ */
    padding: 12px; /* Padding lớn hơn */
    margin-bottom: 20px; /* Khoảng cách lớn hơn */
    border: 1px solid #ccc; /* Viền xung quanh */
    border-radius: 5px; /* Bo góc viền */
    font-size: 16px; /* Kích thước chữ lớn hơn */
    transition: border-color 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Màu viền khi focus */
    outline: none; /* Ẩn outline mặc định */
}

.error-message {
    display: none; /* Ẩn thông báo lỗi mặc định */
    color: red; /* Màu chữ đỏ */
    font-size: 12px; /* Kích thước chữ nhỏ */
    margin-bottom: 10px; /* Khoảng cách dưới */
}


button {
    margin-bottom: 20px;
    width: 100%; /* Chiều rộng đầy đủ */
    padding: 12px; /* Padding lớn hơn */
    background-color: #15283e;
    color: #ffffff; /* Màu chữ trắng */
    border: none; /* Không có viền */
    border-radius: 5px; /* Bo góc */
    font-size: 16px; /* Kích thước chữ lớn */
    cursor: pointer; /* Hiển thị con trỏ tay */
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
}

button:hover {
    background-color: #4c75a1; /* Màu nền khi hover */
}
p {
    text-align: center; /* Căn giữa chữ */
    margin-top: 15px; /* Khoảng cách trên */
    font-size: 14px; /* Kích thước chữ */
}

a {
    color: #007bff; /* Màu chữ cho liên kết */
    text-decoration: none; /* Không gạch chân */
}

a:hover {
    text-decoration: underline; /* Gạch chân khi hover */
}


.none {
    display: none; /* Ẩn phần tử */
}
