.list-reviews {
  border: 2px gray solid;
  border-radius: 10px 10px 0 0;
  margin-left: 5px;
  min-height: 1200px;
  margin-top: 15px;
}

.list-reviews-title {
  background: linear-gradient(to right, #82a0c2, #15283e);
  height: 50px;
}

.list-reviews-title h2 {
  padding-top: 15px;
  padding-left: 15px;
  color: var(--white);
}

/* table reviews */
table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
}

th {
  background: linear-gradient(to right, #82a0c2, #15283e);
  color: var(--white);
}

td a {
  text-decoration: none;
  color: #222;
}

td a:hover {
  color: #2a2185;
  font-weight: bold;
  transition: 0.3 all ease;
}
